@font-face {
    font-family: Gilroy;
    src: url(../../../../../shared/utils/fonts/Gilroy-Regular.ttf);
}

.content {
    // width: 100%;
    display: flex;
    // align-items: center;
    justify-content: space-between;
}

.header{
    color: var(--grey-primary, #373737);
    font-family: Gilroy;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.descone {
    width:48%;
    border-radius: 8px;
    // background: var(--white-grey, #F9F9F9);
    align-items: center;
    // padding:2em;

    .mid{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        padding:1.5000em;
    }
}

.rowname {
    color: var(--grey-text, #999);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.035px;
    margin-top:1em;
}
.dropDownrow{
    display: flex;
    align-items: center;
}
.dropdownToggle{
    display:flex;
    border-radius: 8px;
    border: 1px solid var(--grey-50, #CCC);
    background: var(--white-full, #FFF);
    justify-content:space-between;
    padding-left:10px;
    padding-right:0px;
    height: 50px;
    align-items:center;
    width: 100%;
    margin-top: 1em;
}
.dropBox{
    margin-top:1em;
    color:#FCFCFD;
    width:100%;
    overflow:auto;
}

.dropDownValue {
    color:#000;
    text-decoration: none !important;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

.calculatorinput {
    width : 100%;
    height: 50px;
    margin-top: 1em;
    border-radius: 8px;
    border: 1px solid var(--grey-50, #CCC);
    background: var(--white-full, #FFF);
    padding:0.7000em;
}
.requestbut {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top:1.5em;
}

.btnrequest {
    gap: 10px;
      border: none;
      height: 44px;   
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9em;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      width: 100%;
      background: #011B6D;
      border-radius: 10px;
  }
  .btnrequest:hover {
    background: #0e30a1;
    color: #ffffff;
}

  .flagstyle{
    width: 25px;
    height:25px;
    margin-right:4px;
    border-radius: 25px;
 }

 .flagimg{
    width: 25px;
    height:25px;
    margin-right:4px;
    margin-bottom: 1em;
    border-radius: 25px;
 }

.flagcontent{
    display: flex;
    align-items: center;
}

.desctwo{
    width: 48%;
}

.orangecard{
    border-radius: 4px;
    background: rgba(237, 76, 92, 0.10);
    padding: 1em;
}

.desctwoh2{
    color: #ED4C5C;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.035px;
}

.request{
    color: var(--Blue-Primary, #011B6D);
    // text-align: center;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    margin-top: 13em;
    cursor: pointer;

    span{
        margin-left: 4em;
    }
}

.showcard{
    border-radius: 4px;
    background: var(--White-Grey, #F9F9F9);
    padding: 1em;
    margin-top: 2em;
}

.showcardh1{
    color: var(--Blue-Primary, #011B6D);
    // text-align: center;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    margin-bottom: 1em;
}

.flagholder {
    display: flex;
    align-items: center;

    span{
        margin-left: 3.5em;
        padding-bottom: 1em;
    }
}

.flagcountry {
    display: flex;
    align-items: center;

    // img{
    //     width: 20px;
    //     // margin-right: 7px;
    //     padding-bottom: 1em;
    // }
}

.ban{
    padding: 0.7em 0.7em;
    border-radius: 100px;
    background: var(--White-full, #FFF);
    text-align: center;
}

.dash {
    margin-right: 5px;
    margin-left: 5px;
    // padding-bottom: 1em;
}

@media screen and (max-width:960px) {
    .content{
        display: grid;
    }
    .descone{
        width: 100%;
    }
    .desctwo{
        width: 100%;
        margin-top: 2em;
    }
}
