@font-face {
    font-family: Gilroy;
    src: url(../../../../../../shared/utils/fonts/Gilroy-Regular.ttf);
}

.stepnumber {
    color: var(--blue-primary, #011B6D);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.arrow {
    margin: 0.4000em;
    cursor: pointer;
}

.writeup{
    margin-top: 1.7000em;
    width:60%;
}
.headtwo {
    color: var(--black, #00040F);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; 
    margin-bottom: 0.7000em;
}



.requestbut {
    justify-content: center;
    align-items: center;
    // display: flex;
    margin-top:1em;
    padding:0em 2em;
}

.content{
    justify-content: center;
    align-items: center;
    margin: auto;
    padding:3em 3em;

    img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 1em;
    }

    p{
        color: var(--grey-text, #999);
        text-align: center;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; 
    }
}

.btnrequest {
    gap: 10px;
      border: none;
      height: 44px;   
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9em;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      width:100%;
      background: #011B6D;
      border-radius: 10px;
}

@media screen and (max-width:960px) {
    .content {
        padding: 0em 0em;

        img{
            width: 200px;
            align-items: center;
            display: flex;
            margin: auto;
            margin-bottom: 1em;
        }
    }
}