@font-face {
    font-family: Gilroy;
    src: url(../../../../../shared/utils/fonts/Gilroy-Regular.ttf);
}

.parent {
    height:100vh;
    width:100vw;
    background-color: rgba(6, 6, 6, 0.7);
    display:grid;
    place-items: center;
    overflow-y: auto;
    z-index: 60;
    position:fixed;
    top:0;
    left:0;
}

.content{
    width:80%;
    background-color: white;
    border-radius: 16px;
    position: relative;
    padding:35px;
    padding-top:3em;
    display: flex;
}

.closemodal {
    position: absolute;
    top: 1rem;
    right:4rem;
    width:7px;
    cursor: pointer;
}