@font-face {
    font-family: Gilroy;
    src: url(../../../../shared/utils/fonts/Gilroy-Regular.ttf);
}

.parent {
    height:100vh;
    width:100vw;
    background-color: rgba(6, 6, 6, 0.7);
    display:grid;
    place-items: center;
    overflow-y: auto;
    z-index: 60;
    position:fixed;
    top:0;
    left:0;
}

.content{
    width:50%;
    /* height:90%; */
    background-color: white;
    border-radius: 16px;
    position: relative;
    padding:35px;
    padding-top: 5em;
    padding-bottom: 3em;
    // margin-bottom:7em;
    // margin-top:3em;
}
.closemodal {
    position: absolute;
    top: 1rem;
    right:4rem;
    width:7px;
    cursor: pointer;
}

.contentholder {
    justify-content: center;
    align-items: center;
    
    
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 130px;
    }
    h1{
        color: var(--grey-primary, #373737);
        font-family: Gilroy;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 0.7000em;
    }
    p{color: var(--grey-text, #999);
        text-align: center;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
    }
}

.btnholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.probtn {
    margin: 1em;
}

.btnorange {
    gap: 10px;
    border: none;
    height: 44px;   
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    width:100%;
    padding: 0em 3em;
    border-radius: 10px;
    border: 1px solid var(--red, #FF0F0F);
    background: var(--red, #FF0F0F);
}

.btnblue{ 
    gap: 10px;
    border: none;
    height: 44px;   
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    width:100%;
    padding: 0em 3em;
    border-radius: 10px;
    border: 1px solid var(--blue-primary, #011B6D);
    background: var(--blue-primary, #011B6D);
}
@media screen and (max-width:960px) {
    .content{
        width: 90%;
        padding:2em;
    }
}