@font-face {
    font-family: Gilroy;
    src: url(../../../shared/utils/fonts/Gilroy-Regular.ttf);
  }

.parent {
    justify-content: center;
    align-items: center;
    display:flex;
    // position:relative;
    // bottom:117px;
}

.content {
    width: 80%;
    border-radius: 16px;
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.10);
    background-color: #FFFFFF;
}

.tablerow {
    height:75px;
}
.tablehead {
    font-family: Gilroy;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color: #00040f;
}
.tabledata {
    font-family: Gilroy;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color: #00040f; 
    min-width: 180px;
    height:75px;
}
.tableparagraph {
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color:#999999;
}

.flagstyle {
    padding: 7px;
}
.flagnamestyle {
    padding: 7px;
}
.btn {
    gap: 10px;
    border: none;
    height: 40px;   
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 28px;
    color: #FFFFFF;
    width: 130px;
    background: #011B6D;
    border-radius: 10px;
}

@media screen and (max-width:1250px) {
    .content{
      width: 80%;
    }  
  }
  @media screen and (max-width:1100px) {
      .content{
        width: 90%;
      }
  }