@font-face {
    font-family: Gilroy;
    src: url(../../../../../../shared/utils/fonts/Gilroy-Regular.ttf);
}


.stepnumber {
    color: var(--blue-primary, #011B6D);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.arrow {
    margin: 0.4000em;
    cursor: pointer;
}

.disctwocontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}
.writeup{
    margin-top: 1.7000em;
    width:60%;
}
.headtwo {
    color: var(--black, #00040F);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; 
    margin-bottom: 0.7000em;
}
.paratwo {
    color: var(--grey-text, #999);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.rowname {
    color: var(--grey-text, #999);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px; 
    letter-spacing: 0.035px;
    margin-top:2em;
}

.calculatorinput {
    width : 55%;
    height: 50px;
    margin-top: 0.5000em;
    border-radius: 8px;
    border: 1px solid var(--grey-50, #CCC);
    background: var(--white-full, #FFF);
    padding:0.7000em;
}

.PhoneInput {
    display: flex;
    flex-grow: 2;
    width: 80px !important;
    position: relative !important;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e6e8ec !important;
}

.phone-input {
    border-radius: 20px;
}

.country-listing {
    width: 100% !important;
}

// options with modification
.flag-dropdown.open {
    width: 100%;
}

.PhoneInputInput {
    // height: 50px !important;
    position: relative;
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    font-size: 12px !important;
    padding-top: 2px;
}


.phone-number-input-wrap {
    height: 50px;
    font-family: inherit !important;
    font-weight: bold;
}

.input-phone-container {
    height: 50px;
    font-family: inherit;
    border: 2px solid #e6e8ec;
    border-radius: 6px;
    font-family: inherit !important;
    font-weight: bold !important;
}
.input-class-for-phone-number {
    border: none !important;
    width: 55% !important;
    height: 50px !important;
    font-family: inherit !important;
    font-weight: bold !important;
    background-color: #edf4ff !important;
    color: linear-gradient(180deg, #3e43b1 0%, #8144a4 100%) !important;
}

.form-control {
    display: block;
    width: 55% !important;
    height: 50px !important;
    margin-top: 0.5000em !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.requestbut {
    justify-content: center;
    align-items: center;
    // display: flex;
    margin-top:3em;
}

.btnrequest {
    gap: 10px;
      border: none;
      height: 44px;   
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9em;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      width:55%;
      background: #011B6D;
      border-radius: 10px;
}
.btnrequest:hover {
    background: #0e30a1;
    color: #ffffff;
}

.otp {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.inputotp {
    margin: auto;
    margin: 3px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid var(--grey-50, #CCC);
    background: var(--white-grey, #F9F9F9);
    backdrop-filter: blur(12px);
}

.special-label {
    display: none !important;
}

.donthave {
    color: var(--grey-primary, #373737);
    // text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 1em;
    // width: 50px;

    span{
        color: var(--blue-primary, #011B6D);
        font-family: Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }
}

@media screen and (max-width:960px) {
    .holder {
        width: 100% !important;
    }
    .btnrequest {
        width: 100%;
    }
    .disctwocontent {
        img{
            display: none;
        }
    }
    .writeup{
        width: 100%;
    }
    .inputotp {
        width: 35px;
        height: 40px;
    }
}

