@font-face {
    font-family: Gilroy;
    src: url(../../../../shared/utils/fonts/Gilroy-Regular.ttf);
}

.parent {
    height:100vh;
    width:100vw;
    background-color: rgba(6, 6, 6, 0.7);
    display:grid;
    place-items: center;
    overflow-y: auto;
    z-index: 60;
    position:fixed;
    top:0;
    left:0;
}

.closemodal {
    position: absolute;
    top: 1rem;
    right:4rem;
    width:7px;
    cursor: pointer;
}

.content{
    width:80%;
    /* height:90%; */
    background-color: white;
    border-radius: 16px;
    position: relative;
    padding-top:4em;
    
}

.contentholder {
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    padding:20px;
    width:80%;
}


.contenth1 {
    color: var(--Blue-Primary, #011B6D);
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contentp {
    color: var(--grey-text, #999);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    // width: 50%;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    margin: auto;
}


.discone {
    width:55%;
}

.rowname {
    color: var(--grey-text, #999);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.035px;
    margin-top:1.7000em;
}

.dropDownrow{
    display: flex;
    align-items: center;
}
.dropdownToggle{
    display:flex;
    border-radius: 8px;
    border: 1px solid var(--grey-50, #CCC);
    background: var(--white-full, #FFF);
    justify-content:space-between;
    padding-left:10px;
    padding-right:0px;
    height: 50px;
    align-items:center;
    width: 100%;
    margin-top: 1em;
}
.dropBox{
    margin-top:1em;
    color:#FCFCFD;
    width:100%;
    overflow:auto;
}

.dropDownValue {
    color:#000;
    text-decoration: none !important;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

.driverdoc{
    height: 170px;
    border-radius: 8px;
    border: 1px dashed var(--grey-50, #CCC);
    background: var(--white-blue, #F0F3FF);
    margin-bottom: 17px;
    margin-top:1em;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        // margin-top: 16px;
      font-weight: 600;
      font-size: 14px;
      color: #666dff;
      text-align: center;
      cursor: pointer;
    }

    span {
        color: var(--grey-text, #999);
        text-align: center;
        font-family: Gilroy;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
    img{
        padding-top: 2em;
    }
}


.insideimg {
height: 190px !important;
width:100% !important;
}

.calculatorinputtextarea {
    margin-top: 7px;
    border-radius: 8px;
    border: 1px solid var(--grey-50, #CCC);
    background: var(--white-full, #FFF);
    padding: 0.5000em;
    width: 100%;
}

.green {
    color: var(--green, #7FE881);
    font-family: Gilroy;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: 0.035px;
}

.clickhere {
    color: var(--blue-primary, #011B6D);
    // text-align: center;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;

    input{
        margin-right: 5px;
        width: 14px;
        height: 14px;
        color: #cccccc;
    }
}

.requestbut {
    justify-content: center;
    align-items: center;
    margin-top:1.5em;
}

.btnrequest {
    gap: 10px;
      border: none;
      height: 44px;   
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9em;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      width:100%;
      background: #011B6D;
      border-radius: 10px;
  }

  .btnrequest:hover {
    background: #0e30a1;
    color: #ffffff;
}

  .firsttext {
    color: var(--grey-primary, #373737);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    cursor: pointer;
  }

  .arrow {
    margin-right: 0.7000em;
    cursor: pointer;
  }

  @media screen and (max-width:960px) {
    .discone {
        width:100%;
    }
    .contentholder {
        padding: 2px;
        width: 90%;
    }
    .driverdoc{
        height: 220px;
    }
  }