@font-face {
    font-family: Gilroy;
    src: url(../../../shared/utils/fonts/Gilroy-Regular.ttf);
}
.parent{
    height: 80px;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    width: 100%;
    display: flex;
    background: #ffffff;
    justify-content: space-between;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.12);
}
.logoDiv{
    display: flex;
    align-items: center; 
    padding: 0em 2em;
    cursor: pointer;
}
.logo{
    width: 100px;
}
.textDiv{
    padding-left: 0.6em;
}
.name{
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 700;
     font-size: 0.8em;
     line-height: 17px;
     letter-spacing: 0.05em;
     color:#00040F;

     span{
      margin-left: 2em;
     }
}
.instant{
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 900;
     font-size: 0.6em;
     line-height: 17px;
     letter-spacing: 0.1em;
     color: #000000;
}
.row{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.title{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B3B3B3;   
    padding: 0em 1.5em;
    cursor: pointer;
}
.icons{
    color: #B3B3B3;    
    padding: 0em 0.5em;
    font-size: 1.5em;
    cursor: pointer;
}
.passportDiv{
    padding: 0.3em;
    cursor: pointer;
}
.passport{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}


// DROPDOWN 
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 2em;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #fff;
    line-height: 20px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    position: fixed;
    margin-top: 0.1em;
    
  
    @media screen and (max-width: 600px) {
      min-width: 200px;
      width: 300px;
    }
    @media screen and (max-width: 350px) {
      min-width: 200px;
      width: 270px;
    }
  }
  .dropDownRow {
    display: flex;
    align-items: center;
    margin: 1.1000em 0.9em;
  }
  .dropdownContent a {
    color: #fff !important;
    padding: 12px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .dropIcon {
    width: 20px;
  }
  
  .logoTitleDiv {
    // background: #fafaff;
    // border-radius: 0px 16px 16px 0px;
    margin-left: 0em;
    // height: 60px;
    // width: 90%;
    display: flex;
    align-items: center;
    padding: 0em 0.5000em;
    cursor: pointer;
  }
  .dropDowntitle {
    color: var(--Grey-Primary, #373737);
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
  }
  .dropDowntitle:hover {
    color: #9475d5;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }