@font-face {
    font-family: Gilroy;
    src: url(../../shared/utils/fonts/Gilroy-Regular.ttf);
  }

.parent{
   height: 340px;
  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.leftsection{
    height: 100%;
  width: 100%;
  background-image: url(../SignUp/assets/lady_laptop.png);
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 1024px) {
    width: 50%;
  }
}

.rightsection {
    background-color: #011b6d;
    width: 100%;
    // height: 100%;
    padding: 2.1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    h1 {
        font-family: "Gilroy";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;
    }
  
    p {
      font-size: 1.6rem;
      margin: 1.2rem 0 2rem;
      font-family: Gilroy;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
    }

    .whitebtn {
      gap: 10px;
      border: none;
      // height: 50px;   
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9em;
      line-height: 28px;
      text-align: center;
      color: #011B6D;
      cursor: pointer;
      padding:1em 1em;
      width: 200px;
      margin-bottom: 1em;
      background: #ffffff;
      border-radius: 10px;
    }
  
    @media screen and (min-width: 1024px) {
      padding: 4rem;
      width: 50%;
  
      h1 {
        font-size: 1.5000rem;
      }
    }
}

.whitebtn:hover{
  background: #dcdcdc;
  color: #0e30a1;
}

