@font-face {
    font-family: Gilroy;
    src: url(../../../../shared/utils/fonts/Gilroy-Regular.ttf);
}



.content {
    justify-content: center;
    align-items: center;
    width: 60%;
    margin:auto;
    margin-top:4em;
    margin-bottom: 3em;
}
.firstrow {
    border-radius: 8px;
    border: 1px solid var(--grey-50, #CCC);
    background: #F9F9F9;
    margin-top:1em;
}
.browseflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.iconSearch{
    align-self: center;
    color:#1E252B;
    width: 30px;
    font-size: 1.2em;
}
textarea:focus, input:focus{
    outline: none;
}
.input{
    padding-right: 0em;
    font-size: 0.9em;
    border: none;
    color: rgb(0, 0, 0);
    width:85%;  
}
.searchParent{
    align-items: center;
    justify-content: center;  
    display: flex;  
}
.accordion{
    height: 40px;
    border-radius: 12px;
    width: 100%;
    // margin-top: 2em;
    display: flex;
    align-items: center;
    padding: 2.3000em 1em;
    justify-content: space-between;
    cursor: pointer;
}
.general{
   
    font-style: normal;
    color: #000;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.boxRow{
    justify-content: space-between;
}
.box{
    margin-top: 1em;
    width: 100%;
    border-radius: 12px;
    padding: 1em;
}
.line{
    border: 1px solid white;
    width: 10px;
}
.desc{
    color: #616163;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;   
    width:70%;
}
.descTable{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 0.85em;
    line-height: 20px;
    color: #6F6C90;  
    padding-top: 1em;    
}

.descTableData{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 20px;
    color: #6F6C90;      
}
.cross{
    color:#170F49; 
    font-size: 1.3em;
}
.topBTn {
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background: linear-gradient(180deg, rgba(3, 84, 196, 0.936) 0%, rgba(67, 4, 150, 0.553) 76.04%)
      border-box;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrowup {
    color: white;
    font-size: 2em;
  }
@media screen and (max-width:650px) {
    .boxRow{
       display: grid;
    }  
    .box{
        width: 100%;
    } 
    .title{
        font-size: 1em;
        padding-right: 3em;
    }
    .desc{
        font-size: 0.9em;
    }
    .content{
        width:90%;
    }
}
@media screen and (max-width:1000px) {
    .title{
        font-size: 1.1em;
        padding-right: 3em;
    }
    .desc{
        font-size: 1em;
    }
    .content{
        width:90%;
    }
}