@font-face {
    font-family: Gilroy;
    src: url(../../../shared/utils/fonts/Gilroy-Regular.ttf);
}

.content {
    display: flex;
    height: 100vh;
}
.discone {
    background: linear-gradient(180deg, rgba(0, 107, 255, 0.10) 0%, rgba(121, 81, 175, 0.10) 76.04%);
    width: 45%;
    align-items: center;
    justify-content: center;
    padding:2em 5em;
}
.headone {
    color: var(--black, #00040F);
    text-align: center;
    font-family: Gilroy;
    font-size: 21px;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    padding-top: 2.7000em;
}
.logoimg {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.middlepic {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 1em;

    img{
        width:500px;
        height:400px;
    }
}

.disctwo {
    overflow-y: scroll;
    width:55%;
    align-items: center;
    justify-content: center;
    padding:6em 3em;
    background: var(--white-grey, #F9F9F9);
}

.insideDisc{
    border-radius: 16px;
    background: #FFF;
    padding: 16px;
    gap: 8px;
}

.inputted {
    width:70%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.headwelcome {
    color: var(--black, #050505);
    font-family: "Gilroy";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.arrowstyle {
        display:flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        img{
            width: 76px;
            height: 50px;
        }
}
.rowname {
    color: var(--grey-text, #999);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    // line-height: 20px;
    letter-spacing: 0.035px;
    margin-top:1.7000em;
}

.calculatorinput {
    width : 100%;
    height: 50px;
    margin-top: 0.4000em;
    border-radius: 8px;
    border: 1px solid var(--grey-50, #CCC);
    background: var(--white-full, #FFF);
    padding:0.5000em;
}
.forget {
    color: var(--blue-primary, #011B6D);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    justify-content: end;
    align-items: end;
    float: right;
    cursor: pointer;
}

.requestbut {
    justify-content: center;
    align-items: center;
    // display: flex;
    margin-top:2.7000em;
}

.btnrequest {
    gap: 10px;
      border: none;
      height: 44px;   
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9em;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      width: 100%;
      background: #011B6D;
      border-radius: 10px;
  }

.donthave {
    color: var(--grey-primary, #373737);
    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 1em;

    span{
        color: var(--blue-primary, #011B6D);
        font-family: Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }
}

.input-group {
    position: relative;
    border-radius: 16px;
}

.visibility {
    position: absolute;
    left: 22em;
    top: 16px;
    border: none;
    background-color: transparent;
}
