@font-face {
    font-family: Gilroy;
    src: url(../../../shared/utils/fonts/Gilroy-Regular.ttf);
}

.parent {
    height:100vh;
    width:100vw;
    background: var(--White-Grey, #F9F9F9);
    padding:3em 3em;
}

.content{
    background-color: #fff;
    padding: 3em 3em;
}

.resetimg{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
}

.reseth1{
    color: var(--Black, #050505);
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 187.5% */
    text-align: center;
    margin-top: 1.2em;
}

.arrowimg{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 120px;
    margin-top: 1em;
}

.inputholder {
    width: 40%;
    margin: auto;
    justify-content: center;
}


.rowname {
    color: var(--grey-text, #999);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    // line-height: 20px;
    letter-spacing: 0.035px;
    margin-top:1.7000em;
}

.calculatorinput {
    width : 100%;
    height: 50px;
    margin-top: 0.4000em;
    border-radius: 8px;
    border: 1px solid var(--grey-50, #CCC);
    background: var(--white-full, #FFF);
    padding:0.5000em;
}

.calculatorinputgroup {
    border: none ;
}

.visibility {
    border: none;
    background-color: transparent;
    padding-right:0.8000em !important;
}

.group {
    height: 50px !important;
    width: 100% !important;
    margin-top: 0.4000em !important;
    border-radius: 8px !important;
    border: 1px solid var(--grey-50, #CCC) !important;
    background: var(--white-full, #FFF) !important;
    padding:0.5000em !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.requestbut {
    justify-content: center;
    align-items: center;
    // display: flex;
    margin-top:2em;
}

.btnrequest {
    gap: 10px;
      border: none;
      height: 44px;   
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9em;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      width: 100%;
      background: #011B6D;
      border-radius: 10px;
  }
  .btnrequest:hover {
    background: #0e30a1;
    color: #ffffff;
}

.color{
    border-radius: 4px;
    // background: var(--White-Blue, #F0F3FF);
    padding: 1em;
    margin-top: 4px;
}

.red{
    border-radius: 4px;
    background: rgba(237, 76, 92, 0.10);
    color: #ED4C5C;
    padding: 1em;
    margin-top: 4px;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 157.143% */
letter-spacing: 0.035px;
}