@font-face {
    font-family: Gilroy;
    src: url(../../../../shared/utils/fonts/Gilroy-Regular.ttf);
}


.parent {
    justify-content: center;
    align-items: center;
    // display:flex;
    position:sticky;
    // bottom:293px;
    margin-top: -20em;
    z-index: 30;
}

.content {
    width: 95%;
    margin:auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 80px 0px rgba(214, 33, 33, 0.1);
}

.topholder{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px 16px 0px 0px !important;
    // overflow: auto;
    background: var(--white, #FFF);
    padding-right: 2em;
}

.rightholder{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3{
        color: #696974;
        font-family: Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
        letter-spacing: 0.035px;
        margin-right: 2em;
        cursor: pointer;

        span{
            margin-left: 1em;
        }
    }
}

.lastdays{
    border-radius: 5px;
    background: var(--White-Blue, #F0F3FF);
    cursor: pointer;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.8000em;
    color: var(--Blue-Primary, #011B6D);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.035px;
    gap: 10px;
    border: none;
    height: 40px; 

    span{
        margin-left: 0.5000em;
    }
}

.contentinner{
    // border-radius: 16px 16px 0px 0px !important;
    display : flex;
    // justify-content: space-between;
    overflow: auto;
    // background: var(--white, #FFF);

    h1{
        width: 27%;
        height:85px;
        // background: var(--white-blue, #F0F3FF);
        color: var(--grey-primary, #373737);
        text-align: center;
        align-items: center;
        display : flex;
        font-family: "Gilroy";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        min-width: 250px;
        padding-left:2em;
    }
}



//search Box
.search {
    position: relative;
    width: 40%;
    padding-top: 0.5000em;
    padding-left: 80px;
    padding: 0.5000em;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: var(--white-blue, #F0F3FF);

    input {
      border-radius: 5px;
      background: var(--white-grey, #F9F9F9);
      border: 2px solid #fff;
      height: 40px;
      width: 100%;
      max-width: 783px;
      padding: 7px;
      align-items: center;
      justify-content: center;
    //   padding-left: 80px;
      font-size: 15px;
    //   color: #000;

      :hover {
        border: 2px solid 0f1f;
      }

      :hover {
        border: 2px solid 0f1f;
      }
      
    }
    ::placeholder {
      color: #696974;
      font-family: Gilroy;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.035px;
      margin: 0.5000em;
    }

    span {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
    }
}


// Table // 

.contenttable {
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.10);
    background-color: #fff;
    margin: 2em;
}

.inner {
    img {
        align-items: center;
        justify-content: center;
        margin: auto;
        display: flex;
    }
    .nocurrency {
        color: var(--grey-primary, #373737);
        text-align: center;
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
    }
}

.tablerow {
    height:55px;
}
.tablehead {
    color:  #999 !important;
    font-family: Gilroy;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
.tabledata {
    font-family: Gilroy;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color: #00040f; 
    min-width: 240px;
}

.tabledatas {
    font-family: Gilroy;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color: #00040f; 
    // min-width: 100px;
}

.tabledataa {
    font-family: Gilroy;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color: #00040f; 
    min-width: 150px;
}
.tableparagraph {
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color:#999999;
}

.flagstyle {
    height:26px;
    width:26px;
    border-radius: 26px !important;
}
.dash {
    padding-right: 6px;
}
.flagnamestyle {
    padding: 7px;
}
.btn {
    gap: 10px;
    border: none;
    height: 40px;   
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 28px;
    color: #FBB500;
    width: 130px;
    border-radius: 8px;
    background: rgba(251, 181, 0, 0.10);
}

.completedbtn {
  gap: 10px;
  border: none;
  height: 40px;   
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 28px;
  color: var(--green, #7FE881);
  width: 130px;
  border-radius: 8px;
  background: rgba(127, 232, 129, 0.10);
}

.cancelledbtn{
  gap: 10px;
  border: none;
  height: 40px;   
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 28px;
  color: var(--red, #FF0F0F);
  width: 130px;
  border-radius: 8px;
  background: rgba(255, 15, 15, 0.10);
}

.insidebtn {
        color: var(--blue-primary, #011B6D);
        font-family: Gilroy;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        margin-left: 1.5000em;
        background-color: rgba(240, 243, 255, 1);
        border-radius: 100px;
        padding: 1em;
        text-transform: capitalize !important;
}

.insidebtnpaid{
        color: var(--blue-primary, #011B6D);
        font-family: Gilroy;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        margin-left: 1.5000em;
        background-color: rgba(240, 243, 255, 1);
        border-radius: 80px;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
}

.tableheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerh1{
        color: var(--grey-primary, #373737) !important;
        text-align: center;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        padding-left: 2em; 
        padding-top: 2em;
    }

    p{
        color: #011B6D ;
        text-align: center;
        font-family: Gilroy;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        padding-right: 2em; 
        padding-top: 2em; 
        // line-height: 40px; 
    }
}

.dot {
    font-size: 50px;
    color:#999;
    border: none;
}

.dropdowndetails {
    display: flex;
}

.icon {
    padding-right: 1em;
}

@media screen and (max-width:960px) {
    .search {
        display: none;
    }
}


// DROPDOWN 
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 2em;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #fff;
    line-height: 20px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    position: fixed;
    margin-top: 0.1em;
    
  
    @media screen and (max-width: 600px) {
      min-width: 200px;
      width: 300px;
    }
    @media screen and (max-width: 350px) {
      min-width: 200px;
      width: 270px;
    }
  }
  .dropDownRow {
    display: flex;
    align-items: center;
    margin: 1.1000em 0.9em;
  }
  .dropdownContent a {
    color: #fff !important;
    padding: 12px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .dropIcon {
    width: 20px;
  }
  
  .logoTitleDiv {
    // background: #fafaff;
    // border-radius: 0px 16px 16px 0px;
    margin-left: 0em;
    // height: 60px;
    // width: 90%;
    display: flex;
    align-items: center;
    padding: 0em 0.5000em;
    cursor: pointer;
  }
  .dropDowntitle {
    color: var(--Grey-Primary, #373737);
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
  }
  .dropDowntitle:hover {
    color: #9475d5;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }


  // ANOTHER DROPDOWN

  .drop{
    border-radius: 8px;
    border: 1px solid var(--White-Blue, #F0F3FF);
    background: #FFF;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0.6000em;
}

.dropname{
    color: var(--Blue-Primary, #011B6D) !important;
    font-family: Gilroy !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 14px !important; /* 100% */
    letter-spacing: 0.1px !important;
    text-decoration: none !important;
    // padding-top: 7px !important;
}
.dropdownflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdownToggle{
    display: flex;
    text-decoration: none !important;
    align-items: center !important;
    justify-content: center;
}
.sevendays{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 24px;
    color: #777E91
}
